#DATABASE
POSTGRES_USER=myuser          # Username for PostgreSQL
POSTGRES_PASSWORD=mypassword  # Password for PostgreSQL user
POSTGRES_DB=habitodb       # Name of the database to create
POSTGRES_HOST=db             # This is the service name in docker-compose.yml(you can add your database host)
POSTGRES_PORT=5432           # The port PostgreSQL listens to inside the container

#JWT
SECRET="SECRET"
ALGORITHM="HS256"
JWT_EXPIRY=86400

#BLIP
BLIP_API_URL="https://api-inference.huggingface.co/models/Salesforce/blip-image-captioning-large"

#HF ACCESS TOKENS
HUGGINGFACE_TOKEN_1="Token1"
HUGGINGFACE_TOKEN_2="Token2"
HUGGINGFACE_TOKEN_3="Token3"
HUGGINGFACE_TOKEN_4="Token4"
HUGGINGFACE_TOKEN_5="Token5"
HUGGINGFACE_TOKEN_6="Token6"
